name: MHLC Web Pipeline
on: [push]
jobs:
  Pipeline:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Setup Docker
      uses: docker/setup-buildx-action@v3

    - name: Install Node.js Dependencies
      run: npm ci

    - name: Build Source
      run: npm run build:ui

    - name: Lint Source
      run: npm run lint

    - name: Build Container Image
      run: docker build -t mhlc-web:$(echo $GITHUB_SHA | head -c7) .

